---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: customnoderesources.node.katalyst.kubewharf.io
spec:
  group: node.katalyst.kubewharf.io
  names:
    kind: CustomNodeResource
    listKind: CustomNodeResourceList
    plural: customnoderesources
    shortNames:
    - kcnr
    singular: customnoderesource
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CustomNodeResource captures information about a custom defined
          node resource CustomNodeResource objects are non-namespaced.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the behavior of a CustomNodeResource.
            properties:
              nodeResourceProperties:
                items:
                  properties:
                    propertyName:
                      description: property name
                      type: string
                    propertyQuantity:
                      anyOf:
                      - type: integer
                      - type: string
                      description: values of the quantity-types property
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    propertyValues:
                      description: values of the specific property
                      items:
                        type: string
                      type: array
                  required:
                  - propertyName
                  type: object
                type: array
              taints:
                description: customized taint for katalyst, which may affect partial
                  tasks
                items:
                  properties:
                    effect:
                      description: Required. The effect of the taint on pods that
                        do not tolerate the taint. Valid effects are NoScheduleForReclaimedTasks.
                      type: string
                    key:
                      description: Required. The taint key to be applied to a node.
                      type: string
                    value:
                      description: Required. The taint value corresponding to the
                        taint key.
                      type: string
                  type: object
                type: array
            type: object
          status:
            description: Status represents the current information about a CustomNodeResource.
              This data may not be up-to-date.
            properties:
              conditions:
                description: Conditions is an array of current observed cnr conditions.
                items:
                  description: CNRCondition contains condition information for a cnr.
                  properties:
                    lastHeartbeatTime:
                      description: Last time we got an update on a given condition.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: (brief) reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              resourceAllocatable:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ResourceList is a set of (resource name, quantity) pairs.
                type: object
              resourceCapacity:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ResourceList is a set of (resource name, quantity) pairs.
                type: object
              topologyStatus:
                properties:
                  sockets:
                    items:
                      properties:
                        numas:
                          items:
                            properties:
                              allocatable:
                                additionalProperties:
                                  anyOf:
                                  - type: integer
                                  - type: string
                                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                  x-kubernetes-int-or-string: true
                                description: ResourceList is a set of (resource name,
                                  quantity) pairs.
                                type: object
                              allocations:
                                items:
                                  properties:
                                    consumer:
                                      type: string
                                    requests:
                                      additionalProperties:
                                        anyOf:
                                        - type: integer
                                        - type: string
                                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                        x-kubernetes-int-or-string: true
                                      description: ResourceList is a set of (resource
                                        name, quantity) pairs.
                                      type: object
                                  required:
                                  - consumer
                                  type: object
                                type: array
                              capacity:
                                additionalProperties:
                                  anyOf:
                                  - type: integer
                                  - type: string
                                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                  x-kubernetes-int-or-string: true
                                description: ResourceList is a set of (resource name,
                                  quantity) pairs.
                                type: object
                              numaID:
                                type: integer
                            required:
                            - numaID
                            type: object
                          type: array
                        socketID:
                          type: integer
                      required:
                      - socketID
                      type: object
                    type: array
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
