---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: nodeovercommitconfigs.overcommit.katalyst.kubewharf.io
spec:
  group: overcommit.katalyst.kubewharf.io
  names:
    kind: NodeOvercommitConfig
    listKind: NodeOvercommitConfigList
    plural: nodeovercommitconfigs
    shortNames:
    - noc
    singular: nodeovercommitconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.resourceOvercommitRatio
      name: OVERCOMMITRATIO
      type: string
    - jsonPath: .spec.nodeOvercommitSelectorVal
      name: SELECTOR
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NodeOvercommitConfig is the Schema for the nodeovercommitconfigs
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NodeOvercommitConfigSpec is a description of a NodeOvercommitConfig
            properties:
              nodeOvercommitSelectorVal:
                description: NodeOvercommitSelectorVal is the value of node label
                  selector with key consts.NodeOvercommitSelectorKey, it decides whether
                  to update Nodes if the Node matches the selector 'consts.NodeOvercommitSelectorKey=NodeOvercommitSelectorVal'
                type: string
              resourceOvercommitRatio:
                additionalProperties:
                  type: string
                description: ResourceOvercommitRatio describes the resource overcommit
                  ratio that needs to inject into Node.Annotations cpu,memory are
                  supported.
                type: object
            type: object
          status:
            properties:
              matchedNodeList:
                description: NodeList which the nodeOvercommitConfig rules matched
                items:
                  type: string
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
